$white-text-color: #fff;
$gray-text-color: #aaa;
$black-text-color: #000;

$primary-bg-color: #fff;
$secondary-bg-color: #ccc;

$dark-color: #212127;

$hover-color: rgb(51, 171, 249);

$transition: all 250ms ease;

$fancy-font: 'Cormorant Upright', 'Open Sans', 'Montserrat', 'sans-serif';